div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    ul {
        li {
            text-align: center;
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
    }
}

